<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech blog</title>
  <link rel="stylesheet" href="/style.css">
</head>
 <header>
<nav>
    <ul id="flexList">
      <li ><a href='/homepage'><h1>Home</a></h1></li>
      <li><a href='/dashboard'><h1>Dashboard</h1></a></li>
      <li><a href='/signin'><h1>Login</h1></a></li>
      <li><a href='/signup'><h1>Sign Up</h1></a></li>
    </ul>
  </nav>
</header>

<body class="wrapper">
 <div class="main"><h1>Tech Blog</h1></div>
  
  {{{body}}}
</body>
</html>